// COLORS
$color-primary: #269d2a;
$color-primary-light: #61d965;
$color-primary-dark: #0f3d10;

$color-secondary: #f09527;
$color-secondary-light: #f8cc96;
$color-secondary-dark: #96570a;

$color-tertiary: #4046fc;
$color-tertiary-light: #b5b7fe;
$color-tertiary-dark: #0309c2;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-dark-red: darkred;

// FONT
$default-font-size: 1.6rem;
$page-header-font-size: 3.2rem;

// MY COURSES & MY TOURNAMENTS CARDS
$card-width: 20rem;

// FLEX
$row-width: 114rem;
$gutter-vertical-small: 2.5rem; // small spacing above & below
$gutter-vertical: 5rem; // spacing above & below
$gutter-vertical-large: 8rem; // large spacing above & below
$gutter-horizontal-small: 1.5rem; // small spacing left & right
$gutter-horizontal: 3rem; // spacing left & right
$gutter-horizontal-large: 6rem; // large spacing left & right